@font-face {
    font-family: logoFont;
    src: url(./resources/fonts/Norse-Bold.otf);
  }

body {
    margin: 0px;
    font-family: Montserrat ,'Times New Roman', Times, serif;
    height: 100vh;
    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    flex-wrap: nowrap;
}

.green-picture {
    height: 100vh;
    overflow: hidden;
}

.picture {
    background-image: url(./resources/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 35vw;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo-background {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.523);
    margin-top: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 88px;
}

.logo-text {
    font-family: logoFont;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}

.caption {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.caption > a {
    color: white;
}

.right-main {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 10px;
    width: 62vw;
    justify-content: space-between;
}

.holder {
    height: 33vh;
    width: 100%;
    min-width: 380px;
}

.top-container {
    text-align: left;
    font-weight: 700;
    max-width: 530px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
}

.middle-holder {
    min-height: 165px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    height: 40vh;
    max-height: 210px;
    justify-content: space-between;
}

.input-overflow-container {
    display: flex;
    flex-flow: row wrap;
    width: 55vw;
    max-width: 420px;
    justify-content: space-between;
    min-width: 376px;
}

.input-container {
    height: 50px;
}

.bottom-container {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.bottom-container > button {
    height: 30px;
    width: 150px;
    background-color: #596D48;
    color: white;
    font-weight: 600;
}

.login {
    padding-top: 15px;
}

.login > a {
    color: #596D48;
    text-decoration: none;
}

.italic {
    font-style: italic;
}